USE MiCarDrive

DROP TRIGGER AuditTrigger_USERS
GO
CREATE TRIGGER AuditTrigger_USERS
    ON USERS AFTER UPDATE AS
    BEGIN
        DECLARE @COUNT_INSERTED INT;
        DECLARE @COUNT_DELETED INT;
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @ENTITY_NAME = 'USERS';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));
		SET @COUNT_INSERTED = (SELECT COUNT(*) FROM inserted);
		SET @COUNT_DELETED = (SELECT COUNT(*) FROM deleted);
		SET @ENTITY_ID = (SELECT U.[USER_ID] FROM inserted AS U)
		SET @USER_ID = (SELECT U.[USER_ID] FROM inserted AS U)
		SET @ACTION = 'PUT';
		INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
			VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
    END
GO

DROP TRIGGER AuditTrigger_CARS
GO
CREATE TRIGGER AuditTrigger_CARS
    ON CARS AFTER UPDATE AS
    BEGIN
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @ENTITY_NAME = 'CARS';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));
		SET @ACTION = 'PUT';
		DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
			SELECT [USER_ID] FROM USERS_CARS WHERE CAR_ID in (SELECT CAR_ID FROM inserted)
		SET @ENTITY_ID = (SELECT CAR_ID FROM inserted)
		OPEN USER_IdS;
		FETCH NEXT FROM USER_IDS INTO @USER_ID;
			WHILE @@FETCH_STATUS = 0
				BEGIN
					INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
						VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
					FETCH NEXT FROM USER_IDS INTO @USER_ID
				END
		CLOSE USER_IdS;
    END
GO

DROP TRIGGER AuditTrigger_USERS_CARS
GO
CREATE TRIGGER AuditTrigger_USERS_CARS
    ON USERS_CARS AFTER INSERT, Delete AS
    BEGIN
        DECLARE @COUNT_INSERTED INT;
        DECLARE @COUNT_DELETED INT;
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		
		SET @COUNT_INSERTED = (SELECT COUNT(*) FROM inserted);
		SET @COUNT_DELETED = (SELECT COUNT(*) FROM deleted);
		SET @ENTITY_NAME = 'CARS';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));

		IF(@COUNT_DELETED = 1 AND @COUNT_INSERTED = 0)
			BEGIN
				SET @ENTITY_ID = (SELECT CAR_ID FROM deleted)
				SET @USER_ID = (SELECT [USER_ID] FROM deleted)
				SET @ACTION = 'DELETE';
			END
		IF(@COUNT_DELETED = 0 AND @COUNT_INSERTED = 1)
			BEGIN
				SET @ENTITY_ID = (SELECT CAR_ID FROM inserted)
				SET @USER_ID = (SELECT [USER_ID] FROM inserted)
				SET @ACTION = 'POST';
			END
		INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
			VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
    END
GO


DROP TRIGGER AuditTrigger_CAR_EVENTS
GO

CREATE TRIGGER AuditTrigger_CAR_EVENTS
    ON CAR_EVENTS AFTER INSERT, Update, Delete AS
    BEGIN
        DECLARE @COUNT_INSERTED INT;
        DECLARE @COUNT_DELETED INT;
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @COUNT_INSERTED = (SELECT COUNT(*) FROM inserted);
		SET @COUNT_DELETED = (SELECT COUNT(*) FROM deleted);
		SET @ENTITY_NAME = 'EVENTS';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));

		IF(@COUNT_DELETED = 1 AND @COUNT_INSERTED = 0)
			BEGIN
				SET @ENTITY_ID = (SELECT EVENT_ID FROM deleted)
				SET @ACTION = 'DELETE';
				DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
					SELECT [USER_ID] FROM USERS_CARS where CAR_ID in (SELECT UC.[CAR_ID] FROM deleted AS D INNER JOIN USERS_CARS AS UC ON UC.USER_CAR_ID = D.USER_CAR_ID)
				OPEN USER_IdS;
				FETCH NEXT FROM USER_IDS INTO @USER_ID;
				WHILE @@FETCH_STATUS = 0
					BEGIN
						INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
							VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
						FETCH NEXT FROM USER_IDS INTO @USER_ID
					END
				CLOSE USER_IdS;
			END
		ELSE
			BEGIN
				SET @ENTITY_ID = (SELECT EVENT_ID FROM inserted)
				IF(@COUNT_DELETED = 0 AND @COUNT_INSERTED = 1)
					BEGIN
						SET @ACTION = 'POST';
					END
				IF(@COUNT_DELETED = 1 AND @COUNT_INSERTED = 1)
					BEGIN
						SET @ACTION = 'PUT';
					END
				DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
					SELECT [USER_ID] FROM USERS_CARS where CAR_ID in (SELECT UC.[CAR_ID] FROM deleted AS D INNER JOIN USERS_CARS AS UC ON UC.USER_CAR_ID = D.USER_CAR_ID)
				OPEN USER_IdS;
				FETCH NEXT FROM USER_IDS INTO @USER_ID;
				WHILE @@FETCH_STATUS = 0
					BEGIN
						INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
							VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
						FETCH NEXT FROM USER_IDS INTO @USER_ID
					END
				CLOSE USER_IdS;	
			END
    END


DROP TRIGGER AuditTrigger_CAR_SERVICES
GO

CREATE TRIGGER AuditTrigger_CAR_SERVICES
    ON CAR_SERVICES AFTER Update AS
    BEGIN
        DECLARE @COUNT_INSERTED INT;
        DECLARE @COUNT_DELETED INT;
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @COUNT_INSERTED = (SELECT COUNT(*) FROM inserted);
		SET @COUNT_DELETED = (SELECT COUNT(*) FROM deleted);
		SET @ENTITY_NAME = 'CAR_SERVICES';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));
		SET @ENTITY_ID = (SELECT EVENT_ID FROM inserted)
		SET @ACTION = 'PUT';
		DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
			SELECT [USER_ID] FROM USERS_CARS where CAR_ID in (SELECT UC.CAR_ID FROM CAR_EVENTS CE INNER JOIN USERS_CARS AS UC ON UC.USER_CAR_ID = CE.USER_CAR_ID WHERE EVENT_ID IN (SELECT EVENT_ID FROM inserted))
		OPEN USER_IdS;
		FETCH NEXT FROM USER_IDS INTO @USER_ID;
		WHILE @@FETCH_STATUS = 0
			BEGIN
				INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
					VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
				FETCH NEXT FROM USER_IDS INTO @USER_ID
			END
		CLOSE USER_IdS;
	END
GO

DROP TRIGGER AuditTrigger_REFILL
GO

CREATE TRIGGER AuditTrigger_REFILL
    ON REFILL AFTER Update AS
    BEGIN
        DECLARE @COUNT_INSERTED INT;
        DECLARE @COUNT_DELETED INT;
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @COUNT_INSERTED = (SELECT COUNT(*) FROM inserted);
		SET @COUNT_DELETED = (SELECT COUNT(*) FROM deleted);
		SET @ENTITY_NAME = 'REFILL';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));
		SET @ENTITY_ID = (SELECT EVENT_ID FROM inserted)
		SET @ACTION = 'PUT';
		DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
			SELECT [USER_ID] FROM USERS_CARS where CAR_ID in (SELECT UC.CAR_ID FROM CAR_EVENTS CE INNER JOIN USERS_CARS AS UC ON UC.USER_CAR_ID = CE.USER_CAR_ID WHERE EVENT_ID IN (SELECT EVENT_ID FROM inserted))
		OPEN USER_IdS;
		FETCH NEXT FROM USER_IDS INTO @USER_ID;
		WHILE @@FETCH_STATUS = 0
			BEGIN
				INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
					VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
				FETCH NEXT FROM USER_IDS INTO @USER_ID
			END
		CLOSE USER_IdS;
	END
GO

DROP TRIGGER AuditTrigger_Details
GO

CREATE TRIGGER AuditTrigger_Details
    ON Details AFTER Update AS
    BEGIN
        DECLARE @COUNT_INSERTED INT;
        DECLARE @COUNT_DELETED INT;
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @COUNT_INSERTED = (SELECT COUNT(*) FROM inserted);
		SET @COUNT_DELETED = (SELECT COUNT(*) FROM deleted);
		SET @ENTITY_NAME = 'Details';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));
		SET @ENTITY_ID = (SELECT EVENT_ID FROM CAR_SERVICES WHERE SERVICE_ID = (SELECT SERVICE_ID FROM inserted))
		SET @ACTION = 'PUT';
		DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
			SELECT [USER_ID] FROM USERS_CARS where CAR_ID in (SELECT CAR_ID FROM inserted)
		OPEN USER_IdS;
		FETCH NEXT FROM USER_IDS INTO @USER_ID;
			WHILE @@FETCH_STATUS = 0
				BEGIN
					INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
						VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
					FETCH NEXT FROM USER_IDS INTO @USER_ID
				END
		CLOSE USER_IdS;
	END


DROP TRIGGER AuditTrigger_USER_CARS_ROLES
GO

CREATE TRIGGER AuditTrigger_USER_CARS_ROLES
    ON USERS_CARS_ROLES AFTER DELETE AS
    BEGIN
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @ENTITY_NAME = 'CARS';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));
		SET @ENTITY_ID = (SELECT [CAR_ID] FROM USERS_CARS WHERE USER_CAR_ID = (SELECT USER_CAR_ID FROM deleted))
		SET @ACTION = 'PUT';
		DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
			(SELECT [USER_ID] FROM USERS_CARS WHERE CAR_ID = (SELECT UC.CAR_ID FROM deleted AS D INNER JOIN USERS_CARS AS UC ON UC.USER_CAR_ID = D.USER_CAR_ID))
		OPEN USER_IdS;
		FETCH NEXT FROM USER_IDS INTO @USER_ID;
			WHILE @@FETCH_STATUS = 0
				BEGIN
					INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
						VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
					FETCH NEXT FROM USER_IDS INTO @USER_ID
				END
		CLOSE USER_IdS;
	END

DROP TRIGGER AuditTrigger_USER_CARS_RIGHTS
GO

CREATE TRIGGER AuditTrigger_USER_CARS_RIGHTS
    ON USERS_CARS_RIGHTS AFTER DELETE AS
    BEGIN
        DECLARE @ENTITY_NAME VARCHAR(20);
        DECLARE @DATETIME VARCHAR(50);
        DECLARE @ACTION VARCHAR(20);
        DECLARE @ENTITY_ID uniqueidentifier;
        DECLARE @USER_ID uniqueidentifier;

		SET @ENTITY_NAME = 'CARS';
		SET @DATETIME = (SELECT format(getdate(), 'yyyy-MM-dd HH:mm:ss.fff'));
		SET @ENTITY_ID = (SELECT [CAR_ID] FROM USERS_CARS WHERE USER_CAR_ID = (SELECT USER_CAR_ID FROM deleted))
		SET @ACTION = 'PUT';
		DECLARE USER_Ids CURSOR LOCAL FORWARD_ONLY FAST_FORWARD FOR
			(SELECT [USER_ID] FROM USERS_CARS WHERE CAR_ID = (SELECT UC.CAR_ID FROM deleted AS D INNER JOIN USERS_CARS AS UC ON UC.USER_CAR_ID = D.USER_CAR_ID))
		OPEN USER_IdS;
		FETCH NEXT FROM USER_IDS INTO @USER_ID;
			WHILE @@FETCH_STATUS = 0
				BEGIN
					INSERT INTO [dbo].[ACTION_AUDIT] ([ENTITY], [ENTITY_ID] ,[USER_ID] ,[ACTION] ,[DATE_UPDATE])
						VALUES (@ENTITY_NAME, @ENTITY_ID, @USER_ID, @ACTION, @DATETIME);
					FETCH NEXT FROM USER_IDS INTO @USER_ID
				END
		CLOSE USER_IdS;
	END